*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
@import 
    'content/mixin',
    'content/fonts',
    'content/open-btn',
    'content/menu',
    'content/header',
    'content/about',
    'content/posts',
    'content/contacts',
    'content/footer',
    'content/portfolio-index';