@font-face{
    font-family: 'raleway-r';
    src: url('../fonts/Raleway/Raleway-Regular.ttf');
}
@font-face{
    font-family: 'raleway-m';
    src: url('../fonts/Raleway/Raleway-Medium.ttf');
}
@font-face{
    font-family: 'raleway-sb';
    src: url('../fonts/Raleway/Raleway-SemiBold.ttf');
}